#wrap {
    position: relative;
    text-align: center;
    float: left;
    width: 100%;
    border: 1px solid lime;
}

body {
    text-align: center;
    height: 100%;
    width: 100%;
    background-image: url("kolo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.letter {
    margin: 5px;
    background: #286fe0;
    background: white;
    box-shadow: 5px 5px 5px black;
    width: 50px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    line-height: 100px;
    text-align: center;
    border-radius: 15px;
    border: 5px solid #a5abb5;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    position: relative;
    background: rgba(255, 255, 255, 1);
    width: 50px;
    height: 100px;
}

.hidden:after {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background: rgba(255, 255, 255, 1)
}

.unactive {
    position: relative;
    background: rgba(255, 255, 255, 1);
    width: 50px;
    height: 100px;
}

.unactive:after {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    background: rgba(9, 98, 237, 1)
}

#zycie {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#punkty {
    position: absolute;
    top: 30px;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#autor {
    background: darkgray;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60%;
    height: 60%;
    padding: 30px;
}

#right {
    float: right;
    width: 30px;
    height: 20px;
    text-align: center;
}
#left {
    float: left;
    width: 30px;
    height: 20px;
    text-align: center;
}
#podaj{
    display: none;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#panstwa{
    margin-top: 60px;
}

.button {
    box-shadow: 0 10px 14px -7px #3e7327;
    background: #77b55a linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    border-radius:4px;
    border:1px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, serif;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0 1px 0 #5b8a3c;
}
.button:hover {
    background: #72b352 linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
}
.button:active {
    position:relative;
    top:1px;
}

#wrong{
    width: auto;
    text-decoration: line-through;
    font-size: 25px;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}
